<h1>Speaking &amp; teaching</h1>

<p>I regularly participate in hackathons and teach and speak about practical technology and data journalism.</p>


{% for presentation in presentations %}
<div class="portfolio-section">
  <h2><a href="{{ presentation.link }}">{{ presentation.title }}</a></h2>
  <p>{{ presentation.location|safe }} {% if presentation.video_link %} <a href="{{ presentation.video_link }}" class="video-link"><i class="fa fa-caret-square-o-right"></i> Watch video</a>{% endif %}</p>
</div>
{% endfor %}
