{% extends '_base.html' %}

{# Customize intro here #}
{% block intro %}
{% endblock intro %}

{% block content %}

{% for chapter in chapters %}
{% if not chapter.no_wrapper %}<div id="{{ chapter.name }}" class="container content-section">{% endif %}
  {{ render_file('_{0}.html'.format(chapter.name))|safe }}
{% if not chapter.no_wrapper %}</div>{% endif %}
{% endfor %}

{% endblock content %}


{# Customize css #}
{#
{% block css %}
{{ CSS.push('css/myfile.css')
{% endblock css %}
#}

{# Customize js #}
{#
{% block js %}
{{ js.push('js/myfile.js')
{% endblock js %}
#}


